---
// There is no other way to get the form out of the fence. :)
const SUBMIT_FORM_URL = import.meta.env.PROD
	? "https://submit-form.com/YnAwZjk5"
	: "https://submit-form.com/echo";
---

<div class='bg-indigo-700'>
	<div class='pb-24 px-6 sm:px-6 sm:pb-32 lg:px-8'>
		<div class='mx-auto max-w-2xl text-center'>
			<h2
				class='text-6xl font-bold text-pri-100 tracking-widest font-display'
			>
				ABOUT
			</h2>
			<p
				class='mx-auto mt-6 max-w-3xl text-lg leading-8 text-sec-100 tracking-wide'
			>
				In today's digital world, websites are getting <a
					href='https://almanac.httparchive.org/en/2022/page-weight#fig-7'
					>heavier and slower</a
				>, often at the <a href='https://sustainablewebdesign.org'
					>expense of the environment</a
				>. My goal is to create beautiful, lean landing pages that are
				optimized for performance (&lt;64kB total transfer size!) and
				minimal environmental impact.
			</p><p
				class='mx-auto mt-6 max-w-3xl text-lg leading-8 text-sec-100 tracking-wide'
			>
				I'm always experimenting and refining my techniques and plan to
				build new landing pages and add fresh insights regularly. Stay
				up-to-date by signing up for my newsletter. (<a
					href='https://formspark.io/legal/privacy-policy/'
					>Privacy policy</a
				>)
			</p>
			<form
				class='mx-auto mt-10 flex max-w-md'
				data-url={SUBMIT_FORM_URL}
			>
				<label for='email-address' class='sr-only'>Email address</label>
				<input
					id='email-address'
					name='email'
					type='email'
					autocomplete='email'
					required
					class='min-w-0 flex-auto rounded-l-2xl text-base border-0 bg-sec-900/5 px-5 py-4 text-sec-100 shadow-sm ring-1 ring-inset ring-sec-100 focus:ring-2 focus:ring-inset focus:ring-sec-50 sm:leading-6'
					placeholder='Enter your email'
				/>
				<button
					type='submit'
					class='flex-none rounded-r-2xl uppercase bg-sec-100 py-4 px-7 text-base font-bold text-sec-900 shadow-sm hover:bg-sec-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sec-50'
					>Subscribe</button
				>
			</form>
		</div>
	</div>
</div>

<script>
	document.querySelector("form").addEventListener("submit", (_event) => {
		_event.preventDefault();
		fetch(_event.srcElement.dataset.url, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
				Accept: "application/json",
			},
			body: JSON.stringify({
				message: _event.target[0].value,
			}),
		})
			.then(() => window.alert("Thank you for subscribing!"))
			.catch(() =>
				window.alert("Something went wrong. Please try again later.")
			);
	});
</script>
