<div class='relative isolate overflow-hidden bg-sec-900'>
	<div
		class='lg:mx-auto max-w-sm sm:max-w-lg lg:max-w-4xl px-6 pt-10 pb-12 sm:pb-32 lg:flex lg:py-56 lg:px-8'
	>
		<h1
			class='mt-64 lg:mt-32 text-[150px] sm:text-[300px] xl:text-[400px] text-pri drop-shadow-xl text-center leading-[75px] sm:leading-[150px] xl:leading-[200px] font-display tracking-loose xl:-ml-24'
		>
			<span class='block'>lean</span>
			<span class='block'>landing</span>
			<span class='block -mt-6 sm:-mt-12'>page</span>
		</h1>
		<div
			class='mx-auto mt-16 flex max-w-2xl sm:mt-24 lg:mt-0 lg:mr-0 lg:max-w-none lg:flex-none xl:ml-64'
		>
			<div class='max-w-3xl flex-none sm:max-w-5xl lg:max-w-none'>
				<picture
					class='w-[28rem] sm:w-[50rem] xl:w-[68rem] drop-shadow-2xl absolute top-10 left-[calc(50%-4rem)] -z-10 max-w-none sm:left-[calc(50%-8rem)] sm:top-[calc(50%-36rem)] lg:left-[calc(50%-12rem)] lg:top-[calc(50%-36rem)]'
				>
					<source srcset='img/earth.webp' type='image/webp' />
					<img
						src='img/earth.jpg'
						alt='An earth on an orange circle. The land masses are partly displaced, the seas partly look as if they are overgrown with green moss. Overall, it feels friendly and warm on the one hand, somewhat dystopian on the other.'
						width='1006'
						height='1006'
						class='rounded-full object-cover'
					/>
				</picture>
			</div>
		</div>
	</div>
</div>
