---
import Detail from "../components/Detail.astro";
---

<div class='bg-gray-900'>
	<div class='mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:py-40 lg:px-8'>
		<div class='mx-auto max-w-2xl text-center'>
			<h2
				class='text-6xl font-bold text-pri-100 tracking-widest font-display'
			>
				HOW
			</h2>
			<p
				class='mx-auto mt-6 max-w-3xl text-lg leading-8 text-sec-100 tracking-wide'
			>
				Here's a breakdown of the technology used to build this webpage:
				I chose <strong>Vanilla JS</strong> over JS frameworks, but used
				<strong>TailwindCSS</strong>
				for CSS styling because I enjoy working with it. The site was generated
				statically with <strong>Astrl</strong> and deployed using <strong
					>Cloudflare Pages</strong
				>. The accordions in this section were built with the native
				<strong>&lt;detail&gt;</strong>-element. Subscribing the
				newsletter is a super simple <strong>fetch with an alert</strong
				>. There's no tracking at the moment. The hero (AI-)image was
				optimized using
				<strong>Image Tool+</strong>, and all fonts were subset using <strong
					>glyphhanger</strong
				>. Finally, all assets and HTML were <strong
					>minified and pre-gzipped</strong
				>.
			</p>
			<p
				class='mx-auto mt-6 max-w-3xl text-lg leading-8 text-sec-100 tracking-wide'
			>
				From a broader perspective, I more or less followed these
				principles:
			</p>
		</div>
		<div class='mx-auto max-w-2xl divide-y divide-white/10'>
			<div class='mt-10 divide-y divide-white/10'>
				<Detail
					title='Compare + compromise.'
					content="To optimize landing pages for speed and minimal environmental impact, it's important to compare and compromise on file formats, frameworks, file sizes and even content, while ensuring that the developer experience is not negatively affected. However, it's also crucial to not compromise on usability and accessibility."
				/>
				<Detail
					title='Iterate + stop.'
					content="It's easy to get caught up in the pursuit of perfection and continuously iterate to make improvements. (Trust me, there are lots of enjoyable rabbit holes!) However, it's important to know when to stop and determine whether the improvements are worth the effort."
				/>
				<Detail
					title='Expand + focus.'
					content='Broadening the focus to consider all aspects of performance, such as images, fonts, CSS, and JS, is critical. While some elements may have a greater impact on page weight (such as images and fonts), others may affect reactivity (such as JS). Keeping everything in mind, but focusing on one element at a time, helps to improve without losing sanity.'
				/>
			</div>
		</div>
	</div>
</div>
