---
import Detail from "../components/Detail.astro";
---

<div class='bg-gray-900'>
	<div class='mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:py-40 lg:px-8'>
		<div class='mx-auto max-w-2xl text-center'>
			<h2
				class='text-6xl font-bold text-pri-100 tracking-widest font-display'
			>
				HOW
			</h2>
			<p
				class='mx-auto mt-6 max-w-3xl text-lg leading-8 text-sec-100 tracking-wide'
			>
				The <a href='https://www.sustainablewebmanifesto.com'
					>Sustainable Web Manifesto</a
				> gives a good overview of what I'm trying to do. Furthermore Jeremy
				Keith's take on <a href='https://resilientwebdesign.com/'
					>Resilient Web Design</a
				> influenced me a lot on how to develop. Especially this sentence:
				"[with Progressive enhancement] the resulting website will look different
				in different browsers. [...] And that's okay".
			</p><p
				class='mx-auto mt-6 max-w-3xl text-lg leading-8 text-sec-100 tracking-wide'
			>
				On top I more or less follow these principles:
			</p>
		</div>
		<div class='mx-auto max-w-2xl divide-y divide-white/10'>
			<div class='mt-10 divide-y divide-white/10'>
				<Detail
					title='Compare + compromise.'
					content="To optimize landing pages for speed and minimal environmental impact, it's important to compare and compromise on file formats, frameworks, file sizes and even content, while ensuring that the developer experience is not negatively affected. However, it's also crucial to not compromise on usability and accessibility."
				/>
				<Detail
					title='Iterate + stop.'
					content="It's easy to get caught up in the pursuit of perfection and continuously iterate to make improvements. (Trust me, there are lots of <a href='https://dev.to/tigt/making-the-worlds-fastest-website-and-other-mistakes-56na'>enjoyable</a> <a href='https://endtimes.dev/why-your-website-should-be-under-14kb-in-size/'>rabbit</a> <a href='https://developers.google.com/speed/docs/insights/mobile'>holes</a> out there!) However, it's important to know when to stop and determine whether the improvements are worth the effort."
				/>
				<Detail
					title='Expand + focus.'
					content='Broadening the focus to consider all aspects of performance, such as images, fonts, CSS, and JS, is critical. While some elements may have a greater impact on page weight (such as images and fonts), others may affect reactivity (such as <a href="https://infrequently.org/2021/03/the-performance-inequality-gap/#hardware-destiny">JS</a>). Keeping everything in mind, but focusing on one element at a time, helps to improve without losing sanity.'
				/>
			</div>
		</div>
		<div class='mx-auto max-w-2xl text-center'>
			<p
				class='mx-auto mt-6 max-w-3xl text-lg leading-8 text-sec-100 tracking-wide'
			>
				From a technical perspective, here's a breakdown of the
				technology used to build this webpage: I chose <a
					href='http://vanilla-js.com'>pure JS</a
				> with no polyfills over JS frameworks, but used
				<a href='https://tailwindcss.com'>TailwindCSS</a>
				for CSS styling because I enjoy working with it. The site was generated
				statically with <a href='https://astro.build'>Astro</a> and deployed
				on <a
					href='https://blog.cloudflare.com/de-de/green-hosting-with-cloudflare-pages-de-de/'
					>green-hosted Cloudflare Pages</a
				>. The accordions in this section were built with the native
				<a
					href='https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details'
					>&lt;detail&gt;</a
				>-element. Subscribing the newsletter is a simple <a
					href='https://documentation.formspark.io/examples/ajax.html#fetch'
					>fetch</a
				> with a native alert for send confirmation. There's no tracking
				at the moment. The hero (AI generated) image was optimized using
				<a
					href='https://apps.apple.com/us/app/image-tool/id1524216218?mt=12'
					>Image Tool+</a
				>, and all fonts were subset using <a
					href='https://github.com/zachleat/glyphhanger'
					>glyphhanger</a
				>. Finally, all assets and HTML were <a
					href='https://github.com/astro-community/astro-compress#readme'
					>minified</a
				> and <a href='https://github.com/sondr3/astro-compressor'
					>pre-gzipped</a
				>.
			</p>
		</div>
	</div>
</div>
