---
import Detail from "../components/Detail.astro";
---

<div class='bg-gray-900'>
	<div class='mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:py-40 lg:px-8'>
		<div class='mx-auto max-w-2xl text-center'>
			<h2
				class='text-6xl font-bold text-pri-100 tracking-widest font-display'
			>
				HOW
			</h2>
			<p
				class='mx-auto mt-6 max-w-3xl text-lg leading-8 text-sec-100 tracking-wide'
			>
				Laborum reprehenderit culpa aliquip ea excepteur exercitation
				aute nostrud consectetur. Id sunt in ea aute anim exercitation.
				Fugiat dolor ea occaecat velit ea dolor ad elit eiusmod
				cupidatat est aliqua labore.
			</p>
		</div>
		<div class='mx-auto max-w-2xl divide-y divide-white/10'>
			<div class='mt-10 divide-y divide-white/10'>
				<Detail
					title='Compare & compromise.'
					content='Laborum ullamco adipisicing nisi cupidatat exercitation duis non est amet nulla. Pariatur sit nostrud laboris adipisicing minim cillum voluptate et qui commodo enim. Exercitation ullamco esse elit velit commodo proident duis nulla laborum. Anim nisi ea quis tempor qui. Lorem in tempor id in culpa non ipsum irure ullamco consectetur sint. Velit eu laborum officia ipsum Lorem id. Laborum amet irure sint anim ullamco eu sunt quis nisi sunt. Eu Lorem excepteur aliqua pariatur eu anim id enim dolor. Culpa ut ex ut pariatur minim cillum. Eu aute velit labore elit excepteur excepteur nostrud exercitation magna enim ad minim. Consectetur pariatur irure proident nisi dolore sit ut eu. Elit occaecat pariatur tempor nulla minim commodo minim voluptate occaecat duis. Veniam esse laboris et incididunt cupidatat esse ullamco nostrud elit. Laboris dolor cillum veniam anim deserunt nostrud nostrud elit Lorem.'
				/>
				<Detail
					title='Iterate & stop.'
					content='Laborum ullamco adipisicing nisi cupidatat exercitation duis non est amet nulla. Pariatur sit nostrud laboris adipisicing minim cillum voluptate et qui commodo enim. Exercitation ullamco esse elit velit commodo proident duis nulla laborum. Anim nisi ea quis tempor qui. Lorem in tempor id in culpa non ipsum irure ullamco consectetur sint. Velit eu laborum officia ipsum Lorem id. Laborum amet irure sint anim ullamco eu sunt quis nisi sunt. Eu Lorem excepteur aliqua pariatur eu anim id enim dolor. Culpa ut ex ut pariatur minim cillum. Eu aute velit labore elit excepteur excepteur nostrud exercitation magna enim ad minim. Consectetur pariatur irure proident nisi dolore sit ut eu. Elit occaecat pariatur tempor nulla minim commodo minim voluptate occaecat duis. Veniam esse laboris et incididunt cupidatat esse ullamco nostrud elit. Laboris dolor cillum veniam anim deserunt nostrud nostrud elit Lorem.'
				/>
				<Detail
					title='Broaden & focus.'
					content='Laborum ullamco adipisicing nisi cupidatat exercitation duis non est amet nulla. Pariatur sit nostrud laboris adipisicing minim cillum voluptate et qui commodo enim. Exercitation ullamco esse elit velit commodo proident duis nulla laborum. Anim nisi ea quis tempor qui. Lorem in tempor id in culpa non ipsum irure ullamco consectetur sint. Velit eu laborum officia ipsum Lorem id. Laborum amet irure sint anim ullamco eu sunt quis nisi sunt. Eu Lorem excepteur aliqua pariatur eu anim id enim dolor. Culpa ut ex ut pariatur minim cillum. Eu aute velit labore elit excepteur excepteur nostrud exercitation magna enim ad minim. Consectetur pariatur irure proident nisi dolore sit ut eu. Elit occaecat pariatur tempor nulla minim commodo minim voluptate occaecat duis. Veniam esse laboris et incididunt cupidatat esse ullamco nostrud elit. Laboris dolor cillum veniam anim deserunt nostrud nostrud elit Lorem.'
				/>
			</div>
		</div>
	</div>
</div>
