---
import Comparison from "../components/Comparison.astro";
---

<div class='bg-pri'>
	<div class='py-24 px-6 sm:px-6 sm:py-32 lg:px-8'>
		<div class='mx-auto max-w-2xl text-center'>
			<h2
				class='text-6xl font-bold text-sec-900 tracking-widest font-display'
			>
				WHY
			</h2>
			<p class='mx-auto mt-6 max-w-xl text-lg leading-8 text-sec'>
				Esse magna occaecat laborum cillum exercitation occaecat
				proident culpa. Elit ut amet id ex adipisicing. Proident
				exercitation eu ut exercitation ut magna et aliquip ea magna
				enim id. Elit enim sunt nulla adipisicing sit mollit
				reprehenderit laboris duis pariatur. Occaecat minim excepteur ex
				sit ipsum aliqua commodo ullamco. Esse aliquip tempor laboris
				ullamco nostrud fugiat labore.
			</p>
			<div
				class='mt-10 flex flex-col items-center justify-center gap-y-8'
			>
				<Comparison
					title='Page weight'
					percentage={56 / 2000}
					description='56 vs. 2000 kB'
				/>
				<Comparison
					title='CO<sub>2</sub> per visit'
					percentage={0.01 / 1.76}
					description='0.01 vs. 1.76 g'
				/>
				<Comparison
					title='Time to interactive (mobile)'
					percentage={0.3 / 15.2}
					description='0.3 vs. 15.2 sec'
				/>
			</div>
		</div>
	</div>
</div>
