---
import Comparison from "../components/Comparison.astro";
---

<div class='bg-pri'>
	<div class='py-24 px-6 sm:px-6 sm:py-32 lg:px-8'>
		<div class='mx-auto max-w-2xl text-center'>
			<h2
				class='text-6xl font-bold text-sec-900 tracking-widest font-display'
			>
				WHY
			</h2>
			<p class='mx-auto mt-6 max-w-xl text-lg leading-8 text-sec'>
				When it comes to building websites, it's easy to fall into the
				trap of bloat. But too many unnecessary elements, large file
				sizes, and slow loading times <a href='https://wpostats.com'
					>can turn users away</a
				> and <a
					href='https://www.myclimate.org/information/faq/faq-detail/what-is-a-digital-carbon-footprint/'
					>harm the environment</a
				>. I'm convinced that we can achieve both speed and minimal
				environmental impact, without compromising on usability or
				design.
			</p><p class='mx-auto mt-6 max-w-xl text-lg leading-8 text-sec'>
				To give you an idea of how this landing page stacks up against
				others, here's a comparison with an average website (comparison
				data from 2023-03-12):
			</p>
			<div
				class='mt-10 flex flex-col items-center justify-center gap-y-8'
			>
				<Comparison
					title='Page weight (mobile)'
					percentage={52 / 2019}
					description='52 kB vs. 2019 kB'
					data='https://almanac.httparchive.org/en/2022/page-weight#fig-4'
				/>
				<Comparison
					title='CO<sub>2</sub> per visit'
					percentage={0.01 / 1.76}
					description='0.01 g vs. 1.76 g'
					data='https://www.wholegraindigital.com/digitaldeclutter/#websites'
				/>
				<Comparison
					title='Time to interactive (mobile)'
					percentage={0.3 / 12.7}
					description='0.3 sec vs. 12.7 sec'
					data='https://httparchive.org/reports/loading-speed#ttci'
				/>
			</div>
		</div>
	</div>
</div>
