---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='bg-sec-900'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/png' href='/favicon.png' />
		<meta name='generator' content={Astro.generator} />
		<meta
			name='description'
			content='Highly-optimized, lightning-fast and eco-friendly landing pages. Join the movement to create better websites with minimal environmental impact.'
		/>
		<title>{title}</title>
		<!-- Open Graph / Facebook -->
		<meta property='og:type' content='website' />
		<meta property='og:url' content='https://leanlanding.page/' />
		<meta property='og:title' content='leanlanding.page' />
		<meta
			property='og:description'
			content='Highly-optimized, lightning-fast and eco-friendly landing pages.'
		/>
		<meta property='og:image' content='/img/opengraph.jpg' />
		<!-- Twitter -->
		<meta property='twitter:card' content='summary_large_image' />
		<meta property='twitter:url' content='https://leanlanding.page/' />
		<meta property='twitter:title' content='leanlanding.page' />
		<meta
			property='twitter:description'
			content='Highly-optimized, lightning-fast and eco-friendly landing pages.'
		/>
		<meta property='twitter:image' content='/img/opengraph.jpg' />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}
	/* jomhuria-regular v16 regular - latin */
	@font-face {
		font-display: block; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: "Jomhuria";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/jomhuria.woff2") format("woff2"),
			url("/fonts/jomhuria.woff") format("woff");
	}

	/* nunito-regular - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: "Nunito";
		font-style: normal;
		font-weight: 400;
		src: url("/fonts/nunito-400.woff2") format("woff2"),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
				url("/fonts/nunito-400.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	/* nunito-700 - latin */
	@font-face {
		font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
		font-family: "Nunito";
		font-style: normal;
		font-weight: 700;
		src: url("/fonts/nunito-700.woff2") format("woff2"),
			/* Chrome 36+, Opera 23+, Firefox 39+ */
				url("/fonts/nunito-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
	a {
		@apply underline underline-offset-4 decoration-current hover:decoration-4 focus:decoration-4;
	}
</style>
